customer_tenant_id         = ""
customer_tenant_name       = ""
customer_subscription_id   = ""
customer_subscription_name = ""
location                   = "UK South"
workspace_id               = ""

rbac = true

cd_github_repo_name = ""
cd_github_pat_value = ""

tags = {
  service     = "Terraform"
  description = "Monitoring"
  org         = "Cloud Direct"
}
