using './workspaceDeployment.bicep'

// --------- Parameters with required changes --------- //

// Workspace Parameters
param workspaceName = '${workspaceName}'
param location = '${location}'
param workspaceTags = {
  CDManaged : '${CDManaged_tag}'
  Owner : '${Owner_tag}'
  CDProductID : '${CDProductID_tag}'
  CDCustomerID : '${CDCustomerID_tag}'
  DeployedBy : '${DeployedBy_tag}'
}
param serviceTier = '${serviceTier}'
param dataRetention = ${dataRetention}
